<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="WIN_AUT" providerName="System.Data.SqlClient" connectionString="Data Source=.; 
                          Initial Catalog=CRUD_INVENTARIO; 
                          Integrated Security=True;"/>


		<add name="CNX_SQL" providerName="System.Data.SqlClient" connectionString="Data Source=.; 
                          Initial Catalog=CRUD_INVENTARIO; 
                          Persist Security Info=True;
                          User ID=sa;
                          Password=Nuevo123*;"/>
	</connectionStrings>
	<appSettings>
		<add key="SP_LogIn_Usuarios" value="dbo.USP_InicioSesion_Usuarios"/>
		<add key="SP_LST_ModulosXUsuario" value="dbo.USP_Listar_ModulosXUsuario" />
		<add key="SP_CierraSesion_Usuarios" value="dbo.USP_CierraSesion_Usuarios"/>
		
		<add key="SP_INFO_Usuarios" value="dbo.USP_Informacion_Usuarios" />
		<add key="SP_LST_Usuarios" value="dbo.USP_Listar_Usuarios" />
		<add key="SP_FILL_Usuarios" value="dbo.USP_Filtrar_Usuarios" />
		<add key="SP_Insert_Usuarios" value="dbo.USP_Insertar_Usuarios" />
		<add key="SP_Update_Usuarios" value="dbo.USP_Modificar_Usuarios" />
		<add key="SP_Elim_Usuarios" value="dbo.USP_Eliminar_Usuarios" />

		<add key="SP_LST_Modulos" value="dbo.USP_Listar_Modulos" />
		<add key="SP_Insert_ModulosXUsuario" value="dbo.USP_Insertar_ModulosXUsuario"/>
		<add key="SP_Elim_ModulosXUsuario" value="dbo.USP_Eliminar_ModulosXUsuario"/>

		<add key="SP_LST_Proveedores" value="dbo.USP_Listar_Proveedores" />
		<add key="SP_FILL_Proveedores" value="dbo.USP_Filtrar_Proveedores" />
		<add key="SP_INFO_Proveedores" value="dbo.USP_Informacion_Proveedores" />
		<add key="SP_Insert_Proveedores" value="dbo.USP_Insertar_Proveedores" />
		<add key="SP_Update_Proveedores" value="dbo.USP_Modificar_Proveedores" />
		<add key="SP_Elim_Proveedores" value="dbo.USP_Eliminar_Proveedores" />

		<!--Inicio Funciones CRUD Auditoría-->
		<add key="SP_FILL_Auditoria" value="dbo.USP_Filtrar_Auditoria" />
		<!--FIN Funciones CRUD Auditoría-->


	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>